<h1>Basic Route</h1>
<nav>
  <ul>
    <li><a routerLink="/first" routerLinkActive="active" ariaCurrentWhenActive="page">First Component</a></li>
    <li><a routerLink="/second" routerLinkActive="active" ariaCurrentWhenActive="page">Second Component</a></li>
  </ul>
</nav>

<br><br>

<router-outlet />

<br>

<input type="checkbox" value="activateDataInjection" (click)="activateDataInjection = !activateDataInjection">
<label style="font-size:x-small; color: aquamarine;">activate data injection without RxJS</label>

@if (activateDataInjection) {
<div class="whiteBoxForComponent" style="padding: 10px;">
  <app-service-injection></app-service-injection>
</div>
}

<br>
<br>
<br>

<input type="checkbox" value="activateDataInjection" (click)="activateDataInjectionSignal = !activateDataInjectionSignal">
<label style="font-size:x-small; color: aquamarine;">activate data injection with Signal</label>

@if (activateDataInjectionSignal) {
<div style="padding: 10px;">
  <div style="width: 100%; display: flex;">

    <div style="flex: auto;" class="whiteBoxForComponent">
      <app-data-inject-signal></app-data-inject-signal>
    </div>

    <div style="flex: auto;" class="whiteBoxForComponent">
      <app-local-session-storage></app-local-session-storage>

    </div>


</div>
</div>
}